
<div class="container">

  <div class="column">

    <div class = "title">
      <span style="color:grey">Welcome</span>
    </div>

    <div class = "box">
      <span style="color:grey">Name </span>
    </div>
    <div class = "box">
      <input placeholder="username" style="background-color: lightgray">
    </div>

    <div class = "box">
      <span style="color:grey">Password </span>
    </div>
    <div class = "box">
      <input placeholder="Password" style="background-color: lightgray">
    </div>

    <div class = "box">
      <button class = "login">Login</button>
    </div>

    <div class="bottom">
      <span style="color:grey">Not Registered?</span>
      <a href="">Create an account</a>
    </div>

  </div>

</div>



